{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div class='home-header'>
        <h1>Add your building</h1>
    </div>
    <div class='d-flex justify-content-center mt-1 p-2'>
        <form action="" method='POST'>
        {% csrf_token %}
        {{ buildingform }}
        <div class='d-none'>
            {{ extendbuildingform }}
        </div>
        <div class='d-flex justify-content-center mt-1'>
             <button class='btn btn-dark mt-2' type='submit'>submit</button>
        </div>
        </form>
    </div><br /><br />
{% else %}
    <h3>Please <a class="text-decoration-none" href="{% url 'login'%}">sign in </a>to add a new building</h3>
{% endif %}
    <br />
    <p><a class="text-decoration-none" href="/home/">Back to Home Page</a></p>
{% endblock %}