{% extends "base_generic.html" %}

{% block content %}
    <h2 class='home-header'>{{ building.address }}</h2>
    {% if user == building.creator %}
    <a href="{% url "addoccupants" %}"><h2>YOU ARE CREATOR</h2></a>
    {% endif %}
    <div class='flex justify-content-center mt-3'>
        {% for post in post_list %}
        <div class='d-flex justify-content-center mt-3' >
            <button class="btn btn-dark p-3 w-75" type="button" data-toggle="collapse" data-target="#collapseExample{{ post.id }}" aria-expanded="false" aria-controls="collapseExample{{ post.id }}">
                <strong>{{ post.user }}</strong>: {{ post.body }} ({{post.pub_date}})
            </button>
            <button class="btn btn-light"><a class="text-decoration-none" href="/post/{{ post.id }}/"><strong>Reply</strong></a></button>
            {% if user == post.user %}
            <div class="nav-item dropdown">
                <a class="nav-link-dark dropdown-toggle align-middle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="px-4" href="/post/edit/{{ post.id }}/">Edit</a>
                    <a class="p-1" href="/post/delete/{{ post.id }}/">Delete</a>
                </div>
            </div>
            {% endif %}
            </div>
            <div class="collapse" id="collapseExample{{ post.id }}">
                {% for reply in post.reply_set.all %}
                <div class="d-flex justify-content-center mt-3 w-75 mt-1">
                    <p><strong>{{ reply.user }}</strong>: {{ reply.body }} ({{ reply.pub_date }})</p>
                    {% if user == reply.user %}
                    <div class="nav-item dropdown">
                        <a class="nav-link-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="/reply/edit/{{ reply.id }}/">Edit</a>
                            <a href="/reply/delete/{{ reply.id }}/">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class='add-comment-container'>
    <form action='' method='POST'>
        {% csrf_token %}
        {{ form }}
        <br />
        <button type="submit">submit</button>
    </form>
    </div>
{% endblock %}