{% extends "base_generic.html" %}

{% block content %}
<div class="bg-gradient-dark text-dark">
{% comment %} <div class='has-bg-img bg-purple bg-blend-multiply'> {% endcomment %}
  {% comment %} <img class='bg-img' src='../static/neighborly/images/bkgd7.jpeg' alt=''> {% endcomment %}
  <div class='home-header mt-1'>
    <h1>Neighborly</h1>
  </div>
  {% if building %}
  <div class="">
    <h3>Head to your building's page..<br /><br />
        <a class="text-decoration-none mt-2 p-5" href="/building/{{ building.id }}/">{{ building.address }}</a>
    </h3>
  </div>
  {% else %}
    <div class='flex justify-content-center mt-3'>
      <h3>You are currently not registered to one of our buildings</h3>
      <p>Add your building to our database below to start connecting with your neighbors.</p>
      <div class='d-flex justify-content-center mt-5'>
      <a href="{% url 'addbuilding'%}" class="btn btn-dark mr-2" id="add-building-button">Add your building</a>
      </div>
      <br /><p>or</p><br />
    </div>
    <div class='flex justify-content-center'>
      <h3>Search for your building below...</h3>
      <form class="flex justify-content-center p-3" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search by address" aria-label="Search" name="searched">
        <br />
        <div class='d-flex justify-content-center p-1 mt-1'>
        <button class="btn btn-outline-success" type="submit">Go</button>
        </div>
      </form>
  </div>
  {% endif %}
</div>
{% endblock %}