{% extends "base_generic.html" %}

{% block content %}
  <h1>Vilkommen to home page</h1>
  {% if building %}
  <p><a href="/building/{{ building.id }}/">{{ building.address }}</a></p>
  {% else %}
  <p>You are currently not registered to one of our buildings</p>
  {% endif %}
  {% comment %} {% if building_list %}
      <ul>
      {% for building in building_list %}
          <li><a href="/building/{{ building.id }}/">{{ building.address }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No buildings are available.</p>
  {% endif %} {% endcomment %}
{% endblock %}