 {% extends 'base_generic.html' %}

 {% block content %}
   <div class='container'>
      <div class="row justify-content-center mt-5">
         <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Welcome to Neighborly</h1>
            <p class="mt-3 lead">an application for airing griveances with the people you share a building with</p>
            <div class='d-flex justify-content-center mt-5'>
               <a href="{% url 'login'%}" class="btn btn-light mr-2">Login</a>
               <a href="{% url 'signup'%}" class="btn btn-dark mr-2">Signup</a>
            </div>
         </div>
      </div>
   </div>
 {% endblock content %}