{% extends "base_generic.html" %}

{% block content %}
    <h1>COMMENT PAGE</h1>
    {% comment %} <a href="{% url 'building' %}">Back to building page</a> {% endcomment %}
    <p>Post by {{ post.user }}: {{ post.body }} ({{post.pub_date}})</p>
    <ul>
        {% for reply in reply_list %}
            <li>Reply by {{ reply.user }}: {{ reply.body }} ({{ reply.pub_date }})</li>  
        {% endfor %}
    </ul>
    <form method='POST'>
        {% csrf_token %}
        {{ replyform }}
        <button type="submit">submit</button>
    </form>
    <p><a href="/building/{{ building.id }}/">Back to Building Page</a></p>
{% endblock %}