{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Sign Up</h1><br />

<p>Already have an account? Then please <a href="{% url 'login'%}">sign in</a>.</p>

<div class='shadow p-5 mb-5 rounded'>
<form id="signup_form" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class='d-flex justify-content-center'>
  <button class='btn btn-dark mt-1'type="submit" href="{% url "signup" %}"> Submit &raquo;</button>
  </div>
</form>
</div>



{% endblock %}