* {
    font-family: 'Rokkitt', serif;
}

.img-container {
    background-image: url("images/bkgd7.jpeg");
    position: relative;
}

.has-bg-img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
    opacity: 0.6;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

a {
    color:green
}

li {
    list-style: none;
}

#add-reply-button {
    position: relative;
    display: block;
    margin : 0 auto;
}

/* input {
    position: relative;
    display: block;
    margin : 0 auto;
} */

.home-header {
    padding: 30px;
}

.post-container {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 3px;
    margin: 1px;
}

.reply-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 2px;
    margin: 1px;
}

.single-post-container {
    border: 1px solid blue;
    padding: 1px;
    margin: 1px;
}

.add-comment-container {
    margin: 1vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
