* {
    font-family: 'Rokkitt', serif;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

a {
    color:green
}

a:hover {
    color:green
}

li {
    list-style: none;
}

#add-reply-button {
    position: relative;
    display: block;
    margin : 0 auto;
}

.home-header {
    padding: 30px;
}

